        <%# business.ratings.each do |rating|%>
            <%# <div><%# rating.rating %></div> %>
        <%# end %>
        <%# if business.ratings[0] %>
            <%# <div class="bc_rating">Rating: <%#= business.ratings[0].rating#</div> %> %>
        <%# else %>
            <%# <div class="bc_rating">Be the first to rate!</div> %>
        <%# end %>
        <%# if business.business_comments[0] %>
            <%# <div>Comment: "= business.business_comments[0].body"</div> %>
        <%# else%>
            <%# <div>No User Commnets Yet</div> %>
        <%# end %>
        <% @business_comments.each do |comment | %>
    <div><%= comment.body %></div>
<% end %>
<div>Comment: "<%= @business.business_comments[0].body %>"</div>

                <% if average(business, @ratings) == 5 %>
            <div>Be the first to rate this business</div>
        <% end %>
            <% if @ratings.length == 0 %>
                <div>Be the first to rate this business</div>
        <% end %>
        <%= average(business, @ratings) %>

        <%= button_to "Logout" destroy_session_path, method: :destroy %>
Why does this not work? Ahhhhhh not in resources
<div><%= link_to "Login2", new_session_path %></div>
<div><%= button_to "login", "/login", method: :get  %></div>
<div><%= button_to "logout", "/login", method: :destroy %></div>
<div><%= button_to "lougout2", "/login", method: :destroy %></div>





        <% if average(business, @ratings) > 0 %>
            <div><%= average(business, @ratings)%> </div>
        <% else %>
            <div>Be the first to rate this business</div>
        <% end %>



        size=640x400&key=AIzaSyAuDaaz9Df8EH6dulqrvhGzxSap3DErSOY

        <div><%= image_tag google_map(center: @business.address) %> </div>
<img src="<%= google_map(center: [@business.latitude, @business.longitude].join(',')) %>"/>

<div><%= image_tag google_map(center: @business.address) %> </div>
<img src="<%= google_map(center: [@business.latitude, @business.longitude].join(',')) %>"/>

<div><%= @business.address %></div>
<div><%= @business.latitude %></div>
<div><%= @business.longitude %></div>

<% provide :head_tags do %>
    <script>
    document.addEventListener("DOMContentLoaded", function(){
        initMap(<%=@business.latitude%>, <%=@business.longitude%>)
    });
    </script>
<% end %>

    <%# <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuDaaz9Df8EH6dulqrvhGzxSap3DErSOY&callback=initMap" ></script> %>
        <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuDaaz9Df8EH6dulqrvhGzxSap3DErSOY&callback=initMap&libraries=&v=weekly"
      async
    ></script>



#map {
    height: 100%;
  }
  
  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
      <%= yield(:head_tags) %>


      added to config > initializers > assets

      # Added to use google map 
Rails.application.config.assets.precompile += %w(application.js)

static map code
    <%# <div><%#= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@business.latitude},#{@business.longitude}&markers=#{@business.latitude},#{@business.longitude}&zoom=17&size=400x400&key=AIzaSyAuDaaz9Df8EH6dulqrvhGzxSap3DErSOY",
              class: 'img-fluid img-rounded', alt: "#{@business.name} on the map"%></div> %>