        <%# business.ratings.each do |rating|%>
            <%# <div><%# rating.rating %></div> %>
        <%# end %>
        <%# if business.ratings[0] %>
            <%# <div class="bc_rating">Rating: <%#= business.ratings[0].rating#</div> %> %>
        <%# else %>
            <%# <div class="bc_rating">Be the first to rate!</div> %>
        <%# end %>
        <%# if business.business_comments[0] %>
            <%# <div>Comment: "= business.business_comments[0].body"</div> %>
        <%# else%>
            <%# <div>No User Commnets Yet</div> %>
        <%# end %>
        <% @business_comments.each do |comment | %>
    <div><%= comment.body %></div>
<% end %>
<div>Comment: "<%= @business.business_comments[0].body %>"</div>

                <% if average(business, @ratings) == 5 %>
            <div>Be the first to rate this business</div>
        <% end %>
            <% if @ratings.length == 0 %>
                <div>Be the first to rate this business</div>
        <% end %>
        <%= average(business, @ratings) %>

        <%= button_to "Logout" destroy_session_path, method: :destroy %>
Why does this not work? Ahhhhhh not in resources
<div><%= link_to "Login2", new_session_path %></div>
<div><%= button_to "login", "/login", method: :get  %></div>
<div><%= button_to "logout", "/login", method: :destroy %></div>
<div><%= button_to "lougout2", "/login", method: :destroy %></div>





        <% if average(business, @ratings) > 0 %>
            <div><%= average(business, @ratings)%> </div>
        <% else %>
            <div>Be the first to rate this business</div>
        <% end %>



        size=640x400&key=AIzaSyAuDaaz9Df8EH6dulqrvhGzxSap3DErSOY

        <div><%= image_tag google_map(center: @business.address) %> </div>
<img src="<%= google_map(center: [@business.latitude, @business.longitude].join(',')) %>"/>

<div><%= image_tag google_map(center: @business.address) %> </div>
<img src="<%= google_map(center: [@business.latitude, @business.longitude].join(',')) %>"/>

<div><%= @business.address %></div>
<div><%= @business.latitude %></div>
<div><%= @business.longitude %></div>

<% provide :head_tags do %>
    <script>
    document.addEventListener("DOMContentLoaded", function(){
        initMap(<%=@business.latitude%>, <%=@business.longitude%>)
    });
    </script>
<% end %>

    <%# <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuDaaz9Df8EH6dulqrvhGzxSap3DErSOY&callback=initMap" ></script> %>
        <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuDaaz9Df8EH6dulqrvhGzxSap3DErSOY&callback=initMap&libraries=&v=weekly"
      async
    ></script>



#map {
    height: 100%;
  }
  
  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
      <%= yield(:head_tags) %>


      added to config > initializers > assets

      # Added to use google map 
Rails.application.config.assets.precompile += %w(application.js)

static map code
    <%# <div><%#= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@business.latitude},#{@business.longitude}&markers=#{@business.latitude},#{@business.longitude}&zoom=17&size=400x400&key=AIzaSyAuDaaz9Df8EH6dulqrvhGzxSap3DErSOY",
              class: 'img-fluid img-rounded', alt: "#{@business.name} on the map"%></div> %>


              <p><%= @business.name %></p>
<p><%= @business_comments.where(user_id: current_user.id, business_id: @business.id).first.body %></p>
<p><%= current_user.firstname %></p>
<p><%= current_user.id %></p>

<% if @business_comments.where(user_id: current_user.id, business_id: @business.id) == nil%>
    <p>true</p>
    <%end%>

<%= current_user.id %>
<%= @business.id%>
<%#= @business_comments.where(user_id: 1, business_id: 6).first.body %>

       <%# <h1>Hi <%#= current_user.firstname %>: a comment and rating form will go here once I figure out how to do it</h1>
        <h1>Log in check is working though, how freaking cool is that???</h1> %>

          <div>USER<%= user_relationship.id%></div>
    <%= user_relationship.user_id %>
    <%= user_relationship.friend_user_id %>
    <%= user_relationship.relationship %> 

    <p>friend first name <%= current_user.firstname %></p>
<p>friend id <%= current_user.id %></p>

@user_relationships.where(user_id: user.id, friend_user_id: current_user.id, relationship: true).first.user.firstname

    # def average(business)
    #     average = 0
    #     business.ratings.each do |rating|
    #         average = average + rating.rating
    #     end
    #     if business.ratings.length == 0
    #         return 0
    #     else
    #         average/business.ratings.length
    #     end
    #     # puts ratings.length
    #     # puts average / ratings.length
    # end
    # helper_method :average

  
    # def google_map(center)
    #     "https://maps.googleapis.com/maps/api/staticmap?center=#{center}&size=300x300&zoom=17size=640x400&key=AIzaSyAuDaaz9Df8EH6dulqrvhGzxSap3DErSOY"
    # end
    # helper_method :google_map

<%= link_to "home", :businesses, class: "show-home-link" %>

https://medium.com/@traciemasek/validations-and-flash-in-rails-the-basics-1f2af5b2e61c

            # flash.now[:messages] = @user.errors.full_messages

<% if flash[:messages] %>
    <% flash[:messages].each do |message| %>
        <h2 class="register-flash"><%= flash[:messages] %></h2>
    <%end%>
<%end%>

<div><%= link_to "home", businesses_path %></div>

# had to get rid of .now on flash to get this to work because I couldn't use render :new cause it is in a different controller
            flash[:messages] = @business_comment.errors.full_messages[0]

            https://stackoverflow.com/questions/9815673/how-to-display-a-flash-message-immediately-from-within-a-controller-method

check if friend
                <% if (user_relationship.user_id == current_user.id) && (user_relationship.relationship == true) %>
        <div><%= @users.where(id: user_relationship.friend_user_id).first.firstname %></div>
    <% elsif(user_relationship.friend_user_id == current_user.id) && (user_relationship.relationship == true) %>
        <div><%= @users.where(id: user_relationship.user_id).first.firstname %></div>
    <%end%>

check for friend request
<% if (user_relationship.friend_user_id == current_user.id) && !(user_relationship.relationship == true) %>

<h2>Friend Requests</h2>
<% @user_relationships.each do |user_relationship|%>
    <% if (user_relationship.friend_user_id == current_user.id) && !(user_relationship.relationship == true) %>
        <p>You have a friend request from <%= @users.where(id: user_relationship.user_id).first.firstname %></p>
        <%= form_for :user_user_relationship, url:"/user_user_relationships/#{user_relationship.id}", method: :put do |f| %>
            <%= f.hidden_field :relationship, value: true %>
            <%= f.submit %>
        <%end%>
    <%end%>
<% end %>   


<% @users.each do |user| %>

    <% if (user.id != current_user.id) %>
        <% if @user_relationships.where(user_id: user.id, friend_user_id: current_user.id, relationship: true).first == nil %>
            <% if @user_relationships.where(user_id: current_user.id, friend_user_id: user.id, relationship: true).first == nil%>
                <% if @user_relationships.where(user_id: user.id, friend_user_id: current_user.id, relationship: false).first == nil %>
                    <% if @user_relationships.where(user_id: current_user.id, friend_user_id: user.id, relationship: false).first == nil%>



                    !(business.user_check_ins.first == nil)  && 