        <%# business.ratings.each do |rating|%>
            <%# <div><%# rating.rating %></div> %>
        <%# end %>
        <%# if business.ratings[0] %>
            <%# <div class="bc_rating">Rating: <%#= business.ratings[0].rating#</div> %> %>
        <%# else %>
            <%# <div class="bc_rating">Be the first to rate!</div> %>
        <%# end %>
        <%# if business.business_comments[0] %>
            <%# <div>Comment: "= business.business_comments[0].body"</div> %>
        <%# else%>
            <%# <div>No User Commnets Yet</div> %>
        <%# end %>
        <% @business_comments.each do |comment | %>
    <div><%= comment.body %></div>
<% end %>
<div>Comment: "<%= @business.business_comments[0].body %>"</div>

                <% if average(business, @ratings) == 5 %>
            <div>Be the first to rate this business</div>
        <% end %>
            <% if @ratings.length == 0 %>
                <div>Be the first to rate this business</div>
        <% end %>
        <%= average(business, @ratings) %>

        <%= button_to "Logout" destroy_session_path, method: :destroy %>
Why does this not work? Ahhhhhh not in resources
<div><%= link_to "Login2", new_session_path %></div>
<div><%= button_to "login", "/login", method: :get  %></div>
<div><%= button_to "logout", "/login", method: :destroy %></div>
<div><%= button_to "lougout2", "/login", method: :destroy %></div>





        <% if average(business, @ratings) > 0 %>
            <div><%= average(business, @ratings)%> </div>
        <% else %>
            <div>Be the first to rate this business</div>
        <% end %>