<h1>Businesses Browsing Page</h1> <div><%= link_to "register/login", new_user_path %></div>
<% if logged_in? %>
    <h1>Hi <%=current_user.firstname %>!</h1>
<% end %>
<div class="business-card-container">
<% @businesses.each do |business | %>
    <div class="business_card">
        <div class="bc_name"><%= business.name %></div>
        <img class="bc_img" src="<%= business.img_url %>"/>
        <div class="bc_address"><%= business.phone_number %></div>
        <div class="bc_address"><%= business.address_number %> <%= business.street_name %></div>
        <div class="bc_address"><%= business.city %>, <%= business.state_abbrev %> <%= business.zip_code %></div>
        <div class="bc_type"><%= business.business_type %></div>

        <% if average(business, @ratings) > 0 %>
            <div><%= average(business, @ratings)%> </div>
        <% else %>
            <div>Be the first to rate this business</div>
        <% end %>


        <div class="paws">
            <% average(business, @ratings).times do |i| %>
            <img class="paw" src="<%= asset_path('yellow-paw-print-md.png') %>"/>
            <% end %>
        </div>
    </div>
    </br>
<% end %>
</div>
<heroku>
<h2>Todo/problem log</h2>

<h3>priority</h3>
<p>create login form</p>
<p>create a way to logout</p>

<h3>the rest</h3>
<p>let businesses add events</p>
<p>create business owner account so they can create and update their page</p>
<p>Page not responsive (halfway done)</p>
<p>Add sort by</p>
<p>Picture Carousel, is there a google photos api?</p>
<p>make sure it runs</p>
<p>push to heroku?</p>
<p>look to see if google has an api to pull pictures and business info from</p>
<p>trail paths</p>
<p>directions and mapping</p>
<p>try to implement react once you are happy you have enough of the features you wanted</p>

<h3>Done</h3>
<p style="text-decoration: line-through">Add image to card</p>
<p style="text-decoration: line-through">Get cards to flow horizontally</p>
<p style="text-decoration: line-through">Get the paws to correspond to ratings (loop rating number of time)</p>
<p style="text-decoration: line-through">Create basic registration and session</p>
<p style="text-decoration: line-through">add image link column to database</p>
<p style="text-decoration: line-through">learn to seed the database so you don't have to reseed manually</p>
<p style="text-decoration: line-through">Need to split up address for more uniform look and for later map implementation, look to see what format their api uses</p>
<p style="text-decoration: line-through">Add phone number to business</p>


