        <script>
      let map;

      function initMap() {
        const myLatLing = { lat: <%= @business.latitude %>, lng: <%= @business.longitude %> }
        const map = new google.maps.Map(document.getElementById("map"), {
          center: myLatLing,
          zoom: 17,
        });
        const image = {
            url: "https://image.flaticon.com/icons/png/512/21/21645.png",
            scaledSize: new google.maps.Size(50, 50),
            origin: new google.maps.Point(0,0),
            anchor: new google.maps.Point(0,0)
        };
        const bikeLayer = new google.maps.BicyclingLayer();
        bikeLayer.setMap(map);
        new google.maps.Marker({
            position: myLatLing,
            map,
            icon: image,
            animation: google.maps.Animation.DROP,
            title: "<%= @business.name %>"
        })
      }
    </script>




<h1><%= @business.name %></h1>
<div class="show-business-info">
<img class="show-img" src="<%= @business.img_url %>" />

<div class="stuff">
    <div class="show-rating-container">

        <% if average(@business, @ratings) > 0 %>       
            <div class="show-rating">Rating:</div> 

            <div class="show-paws">

                <% average(@business, @ratings).times do |i| %>
                    <img class="show-paw" src="<%= asset_path('yellow-paw-print-md.png') %>"/>
                <% end %>
            </div>
        <% else %>
            <div class="no-rating-yet">Be the first to rate this business</div>
        <% end %>
        </br>
    </div>
    <div class="show">
        <div class="show-web-address">Website: <%= link_to "#{@business.website}", "https://www.#{@business.website}", :target => "blank" %></div>
        <div class="show-phone"><%= @business.phone_number %></div>
        <div class="show-address"><%= @business.address_number %> <%= @business.street_name %></div>
        <div class="show-address"><%= @business.city %>, <%= @business.state_abbrev %> <%= @business.zip_code %></div>
        <div class="bc_type"><%= @business.business_type %></div>
    </div>

    <div id="map"></div>

    <div class="hours-title">Hours</div>
        <div class="show-hours">
            <div class="hours">
                <p>Mon <%= @business.monday %></p>
                <p>Tue <%= @business.tuesday %></p>
                <p>Wed <%= @business.wednesday %></p>
                <p>Thu <%= @business.thursday %></p>
                <p>Fri <%= @business.friday %></p>
                <p>Sat <%= @business.saturday %></p>
                <p>Sun <%= @business.sunday %></p>
            </div>
        </div>
</div>
</div>
</div>
<br>
<h2>Reviews</h2>

<% @business_comments.each do |comment | %>
    <div class="comments"><%= comment.body %> - 
        <%= comment.user.firstname %>
        <% if @ratings.where(business_id: @business.id, user_id: comment.user.id).first %>
            <% @ratings.where(business_id: @business.id, user_id: comment.user.id).first.rating.times do |i| %>
                <img class="comment-paws" src="<%= asset_path('yellow-paw-print-md.png') %>"/>
            <% end %>
        <% end %>   
        <% if comment.user_id == current_user.id %>
            <%= link_to "edit", edit_business_comment_path(comment.id) %>     
        <% end %>
    </div>
<% end %>
<br>
<div>
    <% if logged_in?  %>
        <% if @business_comments.where(user_id: current_user.id, business_id: @business.id).first == nil %>
            <%= form_for :business_comment, url:"/business_comments" do |f| %>
                <%= f.text_field :body, placeholder: "comment" %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :business_id, value: @business.id %>
                <%= f.submit %>
            <%end%>
        <%end%>
    <% end %>
</div>
<br>
        <div>
            <% if logged_in?  %>
                <% if @business.business_user_relationships.where(user_id: current_user.id, business_id: @business.id).first == nil %>
                    <%= form_for :business_user_relationship, url:"/business_user_relationships" do |f| %>
                        <%= f.hidden_field :relationship, value: true %>
                        <%= f.hidden_field :business_id, value: @business.id %>
                        <%= f.hidden_field :user_id, value: current_user.id %>
                        <%= f.submit %>
                    <%end%>
                <%end%>
            <% end%>
        </div>

<%= link_to "home", :businesses, class: "show-home-link" %>
<br>
<br>
<br>
<br>
<br>



