<br>
<br>
<br>
<% if logged_in? %>
    <h1><%=current_user.firstname %>'s Dashboard</h1>

<% end %> 

<div class="greeting">
    <% if logged_in? %>
        <div class="greet">Hi <%= current_user.firstname %></div>
        <div><%= button_to "Home", '/businesses', method: :get %></div>
        <div><%= button_to "logout", "/login", method: :delete, class: "page-top-buttons" %></div>
    <% end %>
</div>

<div class="business-card-container">
<% @businesses.each do |business | %>
    <% if business.business_user_relationships.where(user_id: current_user.id).first %>
    <div class="business_card">
        <div class="bc_name"><%= link_to business.name, business %></div>
        <img class="bc_img" src="<%= business.img_url %>"/>
        <div class="bc_phone"><%= business.phone_number %></div>
        <div class="bc_address"><%= business.address_number %> <%= business.street_name %></div>
        <div class="bc_address"><%= business.city %>, <%= business.state_abbrev %> <%= business.zip_code %></div>
        <div class="bc_type"><%= business.business_type %></div>

        <div><%= button_to "Delete", business_user_relationship_path(id: business.business_user_relationships.first.id), method: :delete, class: "page-top-buttons" %></div>
    </div>
    </br>
    <%end%>
<% end %>
</div>

<h2>Users</h2>
<% @users.each do |user| %>

    <% if (user.id != current_user.id) %>
        <% if @user_relationships.where(user_id: user.id, friend_user_id: current_user.id, relationship: true).first == nil %>
            <% if @user_relationships.where(user_id: current_user.id, friend_user_id: user.id, relationship: true).first == nil%>

                <div><%= user.firstname %> - send friend request</div>
                <%= form_for :user_user_relationship, url:"/user_user_relationships" do |f| %>
                    <%= f.hidden_field :user_id, value: current_user.id %>
                    <%= f.hidden_field :friend_user_id, value: user.id %>
                    <%= f.submit %>
                <%end%>
            <%end%>  
        <%end%>
    <% end %>
<%end%>

<h2>Friends</h2>
<% @user_relationships.each do |user_relationship| %>
    <% if (user_relationship.user_id == current_user.id) && (user_relationship.relationship == true) %>
        <div><%= @users.where(id: user_relationship.friend_user_id).first.firstname %></div>
        <%# <div>first</div> %>
    <% elsif(user_relationship.friend_user_id == current_user.id) && (user_relationship.relationship == true) %>
        <div><%= @users.where(id: user_relationship.user_id).first.firstname %></div>
        <%# <div>second</div> %>
    <%end%>
<% end %>


<h2>Friend Requests</h2>
<% @user_relationships.each do |user_relationship|%>
    <% if (user_relationship.friend_user_id == current_user.id) && !(user_relationship.relationship == true) %>
        <p>You have a friend request from <%= @users.where(id: user_relationship.user_id).first.firstname %></p>
        <%= form_for :user_user_relationship, url:"/user_user_relationships/#{user_relationship.id}", method: :put do |f| %>
        <%= f.hidden_field :relationship, value: true %>
        <%= f.submit %>
    <%end%>
    <%end%>

<% end %>   
<%# url:"/user_user_relationships" %>
<%# edit_user_user_relationship_path(id: user_relationship.id) %>
<br>
<br>
<br>
<br>
<%= button_to "Sign Up", '/users/new', method: :get %>

<%= button_to "Login", '/login', method: :get %>
