<br>
<br>
<br>
<% if logged_in? %>
    <h1>You are Logged In, <%=current_user.username %></h1>

<% end %>
<h1>Businesses Browsing Page</h1> 

<div class="greeting">
    <% if logged_in? %>
        <div class="greet">Hi <%= current_user.firstname %>!</div>
        <div><%= button_to "Home", '/businesses', method: :get %></div>
        <div><%= button_to "logout", "/login", method: :delete, class: "page-top-buttons" %></div>
    <% end %>
</div>

<div class="business-card-container">
<% @businesses.each do |business | %>
    <div class="business_card">
        <div class="bc_name"><%= link_to business.name, business %></div>
        <img class="bc_img" src="<%= business.img_url %>"/>
        <div class="bc_phone"><%= business.phone_number %></div>
        <div class="bc_address"><%= business.address_number %> <%= business.street_name %></div>
        <div class="bc_address"><%= business.city %>, <%= business.state_abbrev %> <%= business.zip_code %></div>
        <div class="bc_type"><%= business.business_type %></div>
    </div>
    </br>
<% end %>
</div>


<%= button_to "Sign Up", '/users/new', method: :get %>

<%= button_to "Login", '/login', method: :get %>
