<h1>Register</h1>

<%= form_for @user do |f| %>
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname %><br>
    <%= f.label :username %><br>
    <%= f.text_field :username %><br>
    <%= f.label :password %><br>
    <%= f.password_field :password %><br><br>
    <%= f.submit %>
<% end %>
<br>

<div><%= link_to "home", businesses_path %></div>