
  <div class="future-navbar-items">
    <div class="greeting" style="width: 100%; background: gray; padding-bottom: 10px; padding-top: 10px; position:fixed;">
        <div style="margin-left: 10px; margin-top: auto; margin-bottom: auto; font-size: 30px; margin-right: 40px; color: white;">
            <span style="border: 3px solid white; border-radius: 100%; padding: 5px; background-color: rgba(0, 0, 0, 0.5);">DF</span> 
            St. Pete</div>
        <div style="text-align: left;"><%= button_to "Home", '/businesses', method: :get, class: "top-buttons", style: "margin:0px; padding-top: 2px; padding-bottom: 2px;" %></div>
  

        <div><%= button_to "Dashboard", '/users', method: :get, class: "top-buttons", style: "margin:0px; padding-top: 2px; padding-bottom: 2px;" %></div>
        <div><%= button_to "Logout", "/login", method: :delete, class: "top-buttons", style: "margin:0px; padding-top: 2px; padding-bottom: 2px;" %></div>
  </div>
</div>

<h1 class="pp-name" style="margin-top: 100px"><%= current_user.firstname %>'s Profile Page</h1>

<% if current_user.avatar.attached? %>
    <%= image_tag current_user.avatar, class: "profile-pic"%>
<% else%>
    <%= image_tag asset_path('sasha.png'), class: "profile-pic" %>
<%end%>

<h2 class="pp-name">Not sure what content this page will hold yet</h2>
<div class="gibberish">Doggo ipsum bork heck ur givin me a spook boofers boof, ur givin me a spook stop it fren you are doing me the shock, pats the neighborhood pupper doggorino. Sub woofer dat tungg tho super chub, heckin good boys. You are doing me a frighten I am bekom fat wow such tempt he made many woofs, blep stop it fren. Many pats ruff borkf, clouds. Snoot stop it fren doggo blop length boy very hand that feed shibe, pupperino very jealous pupper doing me a frighten. Boof blep corgo mlem, tungg very good spot. Blop heckin good boys and girls big ol pupper borkf doggorino aqua doggo much ruin diet, borking doggo tungg heckin adorable doggo.   Adorable doggo borkdrive you are doing me the shock heckin angery woofer lotsa pats, you are doin me a concern lotsa pats wrinkler. Very jealous pupper very hand that feed shibe borkf super chub smol, you are doin me a concern much ruin diet clouds, dat tungg tho smol noodle horse.

Bork ur givin me a spook adorable doggo fluffer vvv, you are doing me the shock many pats shoob length boy long woofer, smol pats smol. Doggorino floofs pupperino wow very biscit ur givin me a spook long bois, bork maximum borkdrive boofers. Very jealous pupper the neighborhood pupper ruff clouds doggo clouds, waggy wags you are doing me a frighten blop many pats. Borkf you are doing me a frighten puggorino yapper heckin angery woofer adorable doggo floofs big ol, mlem yapper ruff stop it fren doggorino. The neighborhood pupper maximum borkdrive heckin good boys wow very biscit smol length boy noodle horse, much ruin diet many pats what a nice floof wow very biscit tungg.

Smol stop it fren he made many woofs many pats fluffer, floofs lotsa pats adorable doggo, blop yapper tungg. woofer. Very good spot long water shoob noodle horse he made many woofs pupper much ruin diet, long bois boof doge. Fat boi corgo you are doin me a concern h*ck much ruin diet you are doing me a frighten, heckin wow such tempt woofer borkdrive. Doge fluffer boofers long doggo long woofer, pupperino pats long woofer, borkf heckin good boys puggorino. Doggo mlem very hand that feed shibe pupperino ur givin me a spook, very jealous pupper wow very biscit. Smol smol borking doggo with a long snoot for pats many pats shibe heck very jealous pupper, tungg pupper pupperino. Lotsa pats ur givin me a spook shooberino puggorino smol borking doggo with a long snoot for pats doing me a frighten heckin borkdrive, long water shoob blop noodle horse big ol pupper doggo noodle horse. Borkdrive maximum borkdrive big ol wrinkler boofers heckin angery woofer, stop it fren big ol clouds maximum borkdrive.   </div>