<!DOCTYPE html>
<html>
  <head>
    <title>ColefortnerFinal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%# <script>
      let map;

      function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
          center: { lat: -34.397, lng: 150.644 },
          zoom: 8,
        });
      }
    </script> %>
  </head>

  <body>

  <div class="future-navbar-items">
    <div class="greeting">
        <div><%= button_to "Home", '/businesses', method: :get, class: "page-top-buttons" %></div>

    <% if logged_in? %>
        <div class="page-top-buttons">make a navbar partial</div>
        <div class="greet">Hi <%= current_user.firstname %>!</div>
        <div><%= button_to "#{current_user.firstname}'s Dashboard", '/users', method: :get, class: "page-top-buttons" %></div>
        <div><%= button_to "logout", "/login", method: :delete, class: "page-top-buttons" %></div>
    <% else %>
        <div><%= button_to "register", "/users/new", method: :get, class: "page-top-buttons" %></div>
        <div><%= button_to "login", "/login", method: :get, class: "page-top-buttons"  %></div>
    <% end %>
  </div>
</div>
    <%= yield %>
        <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuDaaz9Df8EH6dulqrvhGzxSap3DErSOY&callback=initMap&libraries=&v=weekly"
      async
    ></script>
  </body>
</html>
